@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap");
.colummnn {
  display: flex;
  flex-direction: column;
}
.rowww {
  display: flex;
  flex-direction: row;
}
.ttl {
  font: mulish;
  font-size: 48px;
  font-weight: 800;
  margin-left: 300px;
  padding-top: 100px;
}
.ttle {
  font: mulish;
  font-size: 18px;
  font-weight: 600;
  margin-left: 300px;
}
.jus {
  display: flex;
  justify-content: center;
}
.aly {
  display: flex;
  align-items: center;
}
.ttlee {
  font: mulish;
  font-size: 48px;
  font-weight: 800;
  margin-right: 300px;
  padding-top: 100px;
}
.ttleee {
  font: mulish;
  font-size: 18px;
  font-weight: 600;
  margin-right: 300px;
}
imageeeee {
  margin-top: 500px;
}
